.global-icon {
  font-size: var(--global-icon-size);
}
ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dark {
  background-color: rgb(24, 24, 24);
  color: rgba(242, 242, 242, 0.901);
  transition: background-color 0.5s ease;
  /* header */
  --global-header-background-color: rgba(15, 15, 15, 0.666);
  --global-header-border-bottom-color: rgba(249, 249, 249, 0.2);
  /* sidebar */
  --sidebar-background-color: rgba(22, 22, 22, 0.818);
  --sidebar-border-right-color: rgba(255, 255, 255, 0.1);
  /* popover */
  --popover-box-shadow-color: rgba(255, 255, 255, 0.818);
  --popover-background-color: rgba(33, 33, 33, 0.818);
  /* selector */
  --selector-selected-background-color: rgba(169, 169, 169, 0.5);

  #live2d {
    filter: brightness(0.8);
  }
}

.light {
  background-color: rgba(255, 255, 255, 0.77);
  color: rgb(29, 29, 31);
  transition: background-color 0.5s ease;
  /* header */
  --global-header-background-color: rgba(255, 255, 255, 0.668);
  --global-header-border-bottom-color: rgba(0, 0, 0, 0.1);
  /* sidebar */
  --sidebar-background-color: rgba(242, 242, 242, 0.818);
  --sidebar-border-right-color: rgba(0, 0, 0, 0.1);
  /* popover */
  --popover-box-shadow-color: rgba(0, 0, 0, 0.818);
  --popover-background-color: rgba(244, 244, 244, 0.818);
  /* selector */
  --selector-selected-background-color: rgba(160, 160, 160, 0.5);
}
